*.bat
*.sh
*.dll
*.static

# Игнорировать скомпилированные исполняемые файлы (без расширения)
tests/
2_7_Task_load
First_tsk
Zero_task

# Игнорировать любые другие бинарные файлы (если появятся)
*.exe
*.out
*.o
*.obj
